body {
    background-image: linear-gradient(to right, green, yellow);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    color: #fff;
    text-align: center;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,
        #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 3.6em;
    text-transform: uppercase;
  }
  
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    text-transform: uppercase;
  }
  
  #seconds, #tens {
    font-size: 2em;
  }
  
  button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #82d2e5;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
  }
  button:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #82d2e5;
  }
  
  #container {
    width: 630px;
    margin: 10px auto;
  }
  #container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  [data-view=card] {
    transform: rotateY(180deg);
    width: 100px;
    height: 140px;
    border: solid 1px #d3cece;
    border-radius: 5px;
    float: left;
    margin: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #f3f3f3 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px), linear-gradient(225deg, #f3f3f3 22px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px) 0 64px;
    background-color: #f3f3f3;
    background-size: 64px 128px;
  }
  
  .flipped {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }
  
  .reverse {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
  }
  
  .correct {
    opacity: 0.5;
    cursor: default;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
  }
  
  /* Icons */
  .correct[data-item=drinker],
  .flipped[data-item=drinker] {
    background: url("/assets/images/drinker.jpg") left center no-repeat #fff;
    background-size: contain;
  }
  
  .correct[data-item=healthy],
  .flipped[data-item=healthy] {
    background: url("/assets/images/healthy.jpg") left center no-repeat #fff;
    background-size: contain;
  }
  
  .correct[data-item=peaceful],
  .flipped[data-item=peaceful] {
    background: url("/assets/images/peaceful.jpg") left center no-repeat #fff;
    background-size: contain;
  }
  
  .correct[data-item=strong],
  .flipped[data-item=strong] {
    background: url("/assets/images/strong.jpg") left center no-repeat #fff;
    background-size: contain;
  }
  
  .correct[data-item=traveller],
  .flipped[data-item=traveller] {
    background: url("/assets/images/traveller.jpg") left center no-repeat #fff;
    background-size: contain;
  }

  @media screen and (max-width: 743px) {
    #container {
      width: 100%;
    }
  }